@media (max-width: 1000px){
    header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 5px;
        height: 10%;
    }
    header img{
        width: 1px;
    }
    header nav{
        display: none;
    }
    .sidebar a{
        padding: 4px;
        margin: 4px;
        font-size: 17px;
        font-weight: 600;
        font-family: 'Times New Roman', Times, serif;
    }
    .nav_menu_btn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sidebar .active div{
        position: fixed;
        top: 0;
        left: 0;
        height: max-content;
        width: 70%;
        background-color: #313131;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .active div{
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        margin:  0;
        padding: 15px;
        align-items: center;
        justify-content: center;
        border-radius: 5%;
    }
    .active div a{
        padding: 5px 15px;
        margin: 3px 2px;
        width: 100%;
        color: #313131;
    }
    .active div a:hover{
        color: #fff;
        background-color: #310092;
        scale: 1.2;
    }
    .login_page{
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .register_page{
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px;
        margin: 5px;
    }
    .register_page div{
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:5px;
    }
    .login_page div{
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .login_page div img{
        max-width: 50%;
    }
    .register_page div img{
        max-width: 50%;
    }
    .login_form{
        width: 90%;
    }
    .register_form{
        width: 100%;
    }
    .login_form .input{
        width: 80%;
    }
    .register_form .input{
        width: 80%;
    }
    .form{
        width: 90%;
    }
    .input{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 5px;
        border-radius: 5px;
        height: fit-content;
        border: 1px dotted #181818;
    }
    .input button{
        width: 80%;
        margin: 5px;
        border: 1px solid #0011c6;
        border-radius: 5px;
        background-color: #ffffff;
        color: #0011c6;
        font-size: 16px;
        font-weight: 600;
        padding: 5px;
        box-shadow: 1px 2px 5px #0011c6;
    }
    .input button i{
        color: #fff;
        background: transparent;
    }
    .input input{
        width: 100%;
        margin: 1px;
        border: 1px solid #0011c6;
        border-radius: 5px;
        background-color: #ffffff;
        color: #000;
        font-size: 14px;
        font-weight: 600;
        padding: 5px;
        box-shadow: 1px 2px 5px #0011c6;
    }
}
.header{
    width: 100%;
    top:0;
    left: 0;
    height: 100px;
    background-color: #fff;
    display: flex;
    margin:  0;
    padding: 1%;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.nav_menu_btn{
    display: flex;
    margin:20px;
}

nav{
    width: 100%;
    height: 100px;
    background-color: #e9e9e9;
    top: 0;
    left: 0;
    display: flex;
    margin:  0;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}
.active_menu a{
    color: #310092;
    font-size: 15px;
}
.active_menu a:hover{
    color: #fff;
    background-color: #310092;
    scale: 1.2;
}
.header img{
    width: 150px;
    height: 75px;
    float: right;
    border-radius: 15px;
}
.heaedr .about_website{
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, #0004ff21, #e9e9e9);
    top: 0;
    left: 0;
    display: flex;
    margin:0;
    padding: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.header .about_website a, .header .user_links a{
    padding: 10px;
    margin: 2px;
    font-size: 19px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    color: #2e2e2e;
    text-decoration: none;
}
.header .about_website a:hover , .header .user_links a:hover{
    color: #fff;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    scale: 1.2;
}

.header .links a{
    width: 100px;
    height: 50px;
    background-color: #fff;
    top: 0;
    left: 0;
    margin:0;
    padding: 15px;
    flex-wrap: wrap;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    margin: 0 10px;
}
.header .links a:hover{
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    color: #fff;
}
body{
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
#body{
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    color: #000;
}
h2{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    color: #000;
}
.register_form{
    width: 80%;
    height: 100%;
    background-color: #e9e9e9;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.register_form i, .register_form p{
    color: #1d1d1d;
    font-size: 25px;
    margin: 2px;
    padding:1px;
}


button{
    width: 200px;
    height: 50px;
    background-color: #310092;
    padding: 15px;
    flex-wrap: wrap;
    text-decoration: none;
    color: #f4f4f4;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
button:hover{
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    color: #fff;
    scale: 1.2;
}
.notification{
    animation: slideInFromLeft 10s;
}
.notification.error{
    position: fixed;
    width: 80%;
    height: fit-content;
    background: #ff3737;
    top: 10%;
    left: 0;
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
    padding: 10px 5px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    opacity: 0.8;
}
.notification p{
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
}
.notification.success{
    position: fixed;
    width: 90%;
    height: 70px;
    background: #008d09;
    top: 10%;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    opacity: 0.8;
}
.notification p{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    color: #fff;
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    40% {
        transform: translateX(0);
    }
    60% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.wallet i{
    color: #e2bc00;
    font-size: 25px;
    margin: 2px;
    padding:1px;
}
.user_details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
.login_form, .form{
    width: 80%;
    height: 100%;
    background-color: #e9e9e9;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.login_form i, .login_form p, .login_form h1, .form i, .form p, .form h1{
    color: #1d1d1d;
    font-size: 25px;
    margin: 2px;
    padding:1px;
}
.login_form .input, .form .input , .input{
    height: 20px;
    background-color: #e9e9e9;
    border-radius: 10px;
    margin: 0 10px;
    border-bottom: 1px solid #000;
    margin: 5px 0;
    width:60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.login_form input , .input input{
    width: 100%;
    height: 20px;
    border: none;
    background-color: #e9e9e9;
    padding: 10px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
table{
    width: 98%;
    border-collapse: collapse;
    border: 1px solid #000;
    margin: 10px 1%;
    border-radius: 10px;
}
table tr{
    border: 1px solid #000;
}
table tr th{
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
    background-color: #2d2d2d;
    color:rgb(255, 255, 255);
}
table tr td{
    border: 1px solid #373737;
    padding: 10px;
    text-align: center;
    color: #1d1d1d;
    font-size: 15px;
}
.user_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 10px;
    margin: 10px;
}
.user_page div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5%;
    padding: 5%;
    border-radius: 10px;
    width: 100%;
}
.user_page div input{
    width: 80%;
    height: 10px;
    background-color: #e9e9e9;
    padding: 15px;
    flex-wrap: wrap;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    margin: 0 10px;
    border: 1px solid #000;
    margin: 5px 0;
}

.user_page .Earning{
    background: linear-gradient(to right, #009f62, #00b4a6);
    color: #fff;
    font-size: 22px;
    box-shadow: 0 0 10px #8fffd4b3;
}
.user_page .Earning a{
    padding: 10px;
    background-color: #ffffff;
    color: #2a2a2a;
}
.user_page .Earning a:hover{
    background-color: #2a2a2a;
    color: #ffffff;
}

.Earning h2 , .Earning p{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}
.user_page .your_links{
    background: linear-gradient(to right, #492dff, #0011c6);
    color: #fff;
    font-size: 22px;
    box-shadow: 0 0 10px #8fa5ff96;
    width: 100%;
}
.user_page .your_links button{
    padding: 10px;
    background-color: #ffffff;
    color: #2a2a2a;
}
.user_page .your_links button:hover{
    background-color: #2a2a2a;
    color: #ffffff;
}
.your_links h2 , .your_links p{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}
.points{
    font-family: 'Times New Roman', Times, serif;
    font-size: 29px;
    font-weight: bold;
    color: #000;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.add_link{
    width: 80%;
    height: 100%;
    background-color: #e9e9e9;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin:20px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.add_link input{
    width: 80%;
    height: 10px;
    background-color: #e9e9e9;
    padding: 15px;
    flex-wrap: wrap;
    text-decoration: none;
    color: #000;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    border: none;
}
.add_link h1{
    color: #181818;
    font-size: 22px;
    font-weight: bold;
    margin: 10px;
}
.add_link p{
    color: #2d2d2d;
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
}
#text{
    color: #fff;
}
a{
    text-decoration: none;
    color: #310092;
    padding:4px 8px;
    font-size: 14px;
    font-weight: bold;
    background-color: #e9e9e9;
    border-radius: 4px;
}
.a:hover{
    background-color: #310092;
    color: #fff;
}
textarea{
    width: 80%;
    height: 50px;
    background-color: #e9e9e9;
    padding: 15px;
    flex-wrap: wrap;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    margin: 0 10px;
    border: 1px solid #000;
    margin: 5px 0;
}
.admin_menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    gap: 10px;
}
.admin_menu div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #310092;
    cursor: pointer;
    color:rgb(255, 255, 255);
}
.widget_anaytics{
    margin: 2px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    gap: 10px;
    width: 100%;
}
.widget_anaytics div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    width: 20%;
    height: 10%;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    cursor: pointer;
    color:rgb(255, 255, 255);
}
.widget_anaytics div p{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding: 10px;
}

.widget_anaytics div p :hover{
    scale: 1.2;
}

.welcome{
    animation: 1s ease-in-out 0s 1 slideInFromLeft;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 10px;
    margin: 10px;
    background-color: #310092;
    opacity: 0.8;
    border-radius: 10px;
    box-shadow: 3px 2px 0 #2e2e2e;
}
.welcome h3{
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
}
.welcome p{
    color: #e1e1e1;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}
.welcome div{
    width: 100%;
}
.welcome div img{
    width: 100%;
    height: 100%;
}
.login_page{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    margin: 2%;
    padding: 2%;
}
.login_page div{
    width: 100%;
}
.register_page{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 1%;
    padding: 1%;
}
.register_page div{
    width: 100%;
}
#show_password{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 1%;
    padding: 1%;
}
.about_us{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;
    margin: 10px;
    align-items: center;
    justify-content: center;
}
.about_us div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: fit-content;
    padding: 5%;
    margin: 5%;
    background: linear-gradient(to right, #994ff8, #4b10fc);
    border-radius: 10px;
}
.about_ud div:hover{
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    scale: 1.2;
}
.about_us div img{
    width: 125px;
    height: 125px;
}
.about_us div h3{
    color: #2e2e2e;
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}
.about_us div p{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}
.suggested_link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 10px;
    margin: 10px;
    background-color: #310092;
    border-radius: 10px;
}
.suggested_link h3{
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
}
.suggested_link p{
    color: #e1e1e1;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}
.input{
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 10px;
    margin: 10px;
    background-color: #310092;
    border-radius: 10px;
}
form{
    width:100%;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.user_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    background-color: #ffffff;
    border-radius: 10px;
}
.user_menu a{
    color: #000;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #e9e9e9;
}
#user_menu_open{
    width: 10%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c1c1c1;
    cursor: pointer;
    padding:10px;
    border-radius: 10px;
}
#user_menu_open i{
    size: 30px;
    border-radius: 50%;
}
#user_menu_open :hover{
    scale: 1.2;
}   

.input :active{
    background-color: #e9e9e9;
    border:none;
}
.content p, content h2, content h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 10px;
    background-color: #e9e9e9;
    border-radius: 10px;
    text-align: left;
}
.get_link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 10px;
    margin: 10px;
    background-color: #e9e9e9;
    border-radius: 10px;
}
.report-btn{
    color:rgb(255, 255, 255);
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    padding: 5px 10px;
}
.report-btn:hover{
    background: red;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 83%;
    padding: 5%;
    margin: 10px;
    background-color: #e9e9e9;
    border-radius: 2%;
}
.admin_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin: 10px;
    background-color: #282828;
    border-radius: 10px;
}
.admin_form textarea{
    position: static;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.admin_form .input{
    height: fit-content;
    width: 100%;
    margin: 10px;
    border-radius: 10px;
    border: dotted 1px #310092;
    background-color: #181818;
    color:rgb(255, 255, 255);
}

.admin_form button{
    position: static;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #310092;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.admin_form button:hover{
    background-color: #ff4b2b;
    scale: 1;
}

.admin_form p, .admin_form h2, .admin_form h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    text-align: center;
}
.messages_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin: 10px;
    background-color: #282828;
    border-radius: 10px;
}
.messages_form .msg{
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 100%;
    border: solid 1px #310092;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
#message{
    height: 50px;
    background-color: #e9e9e9;
    border-radius: 10px;
    border-bottom: 1px solid #000;
    margin: 5px 0;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ad_widget{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin: 10px;
}
.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin: 10px;
    background-color: #310092;
    border-radius: 10px;
}
.result p{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}
.result h3{
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}
.ref_widget{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin: 10px;
    background: linear-gradient(to right, #01baba , #017b7b);
    border-radius: 10px;
}
.ref_widget div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 5px;
    border-radius: 10px;
    background: linear-gradient(to left #ff416c, #ff4b2b);
}
.ref_widget p, .ref_widget h2{
    color: #fff;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}
.ref_widget button{
    background-color: #fff;
    color: #ff416c;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.ref_widget button:hover{
    background-color: #ff4b2b;
    color: #fff;
}
.share_btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: none;
    width: 100%;
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 25px;
    border: none;
    height: 70px;
    position: fixed;
    bottom: 3%;
    left: 47%;
}
.share_btn i{
    color: #fff;
    font-size: 20px;
    padding: 10px;
    background-color: blue;
    border-radius: 50%;
}
.share_btn i:hover{
    background: linear-gradient(to right, #01baba , #017b7b);
}
